*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

header{
    text-align: center;
    padding: 5em;
    border-bottom: 1px solid rgba(115, 160, 245, 0.75);
}

.titulo-site{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10vh;
    color: rgba(115, 160, 245, 0.75);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lista-task{
    display: flex;
    flex-direction: column;
    
}

.item-lista-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 1px 1px 10px 4px rgba(115, 160, 245, 0.75);
    background-color: rgb(255, 255, 255);
}

.task-item{
    width: 100%;
}

.button-remove-task{
    border: none;
    display: flex;
}

.button-add-task{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.imagem{
    width: 1em;
}

.input-write-task{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 1em;
    gap: 0.5em;
    padding: 0.5em;
    box-shadow: 1px 1px 10px 4px rgba(115, 160, 245, 0.75);
}

.input-task{
    border: none;
    width: 80vw;
    height: 3vh;
    font-size: 15px;
}

.button-add-task{
    width: 5%;
}